body{
    font-family:'Microsoft YaHei';
    background:#dedede;
}

header{
    position: relative;
    height: 60px;
    background: #333333;
}

header div img{
    height: 40px;
    width: 120px;
    padding-left: 10px;
    padding-top: 10px;
}

header ul{
    position: absolute;
    top: 5px;
    right: 10px;
    height: 60px;
}

header ul li{
    height: 60px;
    float: left;
    margin:0 20px 0 20px;
}
header ul li a{
    color: white;
    font-size: 8px;
    text-decoration: none;
    margin:auto;
    float: right;
}

article, aside ,section{
    display:block;
    margin:20px;
    padding:35px 20px;
    background: #ffffff;
    box-shadow:1px 1px 2px 1px #848484;
}
article img{
    width:420px;
    height: 300px;
}
section img{
    width: 300px;
    height: 200px;
}


